# FIFA 21 IRONHACK COMPETITION

# PART (I)

**Link to repo: https://github.com/ironhack-edu/data_project_FIFA_21**


You will use the fifa21_trainning.csv dataset provided to predict the position ('OVA') of each player. The competition will take place from monday morning to tuesday. 
<br><br>
Your model will be saved in a pickle file.
<br><br>
The ranking of the competitors will be calculated according to the highest Mean Average Error (MAE), rounded to 2 decimals.
<br><br>
Ties will be broken using, respectively: R2 Score (rounded to 2 decimals), Root Mean Squared Error (rounded to 2 decimals), time to run the code (using timeit)
<br>

## DELIVERABLES:

Your group should deliver a `group Jupyter notebook` with all the preprocessing functions alongside with the model.

Everything must be delivered until 12am on Tuesday. 
<br><br>
Be prepared to share your work on Tuesday morning, the best scores will have the opportunity to show their notebook and go through their pipeline (~10 min).
<br><br>

To deliver:
* A notebook with your work and model (group_number.ipynb);
* Pickle file with the model (group_number.pkl). 
<br><br>

The instructor will use your `group Jupyter notebook` to load a new dataset and use your functions and
your model to make a prediction in unseen data.


<br><br>

For this small project you are going to work in groups to put in practice some of the concepts of the previous week.

With your group mates, open the file in `file_for_project/fifa21_training.csv`. The objective is to create the best linear model to predict the column `OVA`.

You can find some documentation about the meaning of each column in the following links:

- [link - 0](https://sofifa.com/)
- [link - 1](https://gaming.stackexchange.com/questions/167318/what-do-fifa-14-position-acronyms-mean)
- [link - 2](https://www.fifauteam.com/fifa-ultimate-team-positions-and-tactics/)

### 1

Each member of the team should have his/her own _juypter_ notebook. In addition, each group should have a `group jupyter notebook`.

### 2

Decide which columns can be predictive and which ones can be directly dropped and take the needed actions.

### 3

Decide among the members of the group who is going to take care of inspecting the remaining columns
of the dataset. For example:
Member 1: cols 1 -> 5
Member 2: cols 6 -> 10
...
and so on

### 4

Each member must do:

- Explore their assigned columns and write python code to perform any cleanup operation that the assigned columns may need.
- Perform any scaling operation that the assigned column may need.

### 5

Put all the code of each member into the `group jupyter notebook`.

#### LIMPIEZA GENERAL

In [139]:
import pandas as pd
import numpy as np

In [140]:
data = pd.read_csv("./file_for_project/fifa21_training.csv")

In [141]:
list (data.columns)

['Unnamed: 0',
 'ID',
 'Name',
 'Age',
 'Nationality',
 'Club',
 'BP',
 'Position',
 'Team & Contract',
 'Height',
 'Weight',
 'foot',
 'Growth',
 'Joined',
 'Loan Date End',
 'Value',
 'Wage',
 'Release Clause',
 'Contract',
 'Attacking',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Skill',
 'Dribbling',
 'Curve',
 'FK Accuracy',
 'Long Passing',
 'Ball Control',
 'Movement',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Power',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Mentality',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Defending',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeping',
 'GK Diving',
 'GK Handling',
 'GK Kicking',
 'GK Positioning',
 'GK Reflexes',
 'Total Stats',
 'Base Stats',
 'W/F',
 'SM',
 'A/W',
 'D/W',
 'IR',
 'PAC',
 'SHO',
 'PAS',
 'DRI',
 'DEF',
 'PHY',
 'Hits',
 'LS',
 'ST',
 'RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB',
 'GK',
 'OVA']

In [142]:
data.columns=[e.lower().replace(' ', '_') for e in data.columns]
list(data.columns)

['unnamed:_0',
 'id',
 'name',
 'age',
 'nationality',
 'club',
 'bp',
 'position',
 'team_&_contract',
 'height',
 'weight',
 'foot',
 'growth',
 'joined',
 'loan_date_end',
 'value',
 'wage',
 'release_clause',
 'contract',
 'attacking',
 'crossing',
 'finishing',
 'heading_accuracy',
 'short_passing',
 'volleys',
 'skill',
 'dribbling',
 'curve',
 'fk_accuracy',
 'long_passing',
 'ball_control',
 'movement',
 'acceleration',
 'sprint_speed',
 'agility',
 'reactions',
 'balance',
 'power',
 'shot_power',
 'jumping',
 'stamina',
 'strength',
 'long_shots',
 'mentality',
 'aggression',
 'interceptions',
 'positioning',
 'vision',
 'penalties',
 'composure',
 'defending',
 'marking',
 'standing_tackle',
 'sliding_tackle',
 'goalkeeping',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_positioning',
 'gk_reflexes',
 'total_stats',
 'base_stats',
 'w/f',
 'sm',
 'a/w',
 'd/w',
 'ir',
 'pac',
 'sho',
 'pas',
 'dri',
 'def',
 'phy',
 'hits',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb',
 'gk',
 'ova']

In [143]:
data.head(2)

,unnamed:_0,id,name,age,nationality,club,bp,position,team_&_contract,height,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,1954,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,2225,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77

In [144]:
data._get_numeric_data().columns

Index(['unnamed:_0', 'id', 'age', 'growth', 'attacking', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'skill',
       'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
       'movement', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'power', 'shot_power', 'jumping', 'stamina', 'strength',
       'long_shots', 'mentality', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'composure', 'defending', 'marking',
       'standing_tackle', 'sliding_tackle', 'goalkeeping', 'gk_diving',
       'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes',
       'total_stats', 'base_stats', 'pac', 'sho', 'pas', 'dri', 'def', 'phy',
       'ova'],
      dtype='object')

In [145]:
data.select_dtypes(object).columns

Index(['name', 'nationality', 'club', 'bp', 'position', 'team_&_contract',
       'height', 'weight', 'foot', 'joined', 'loan_date_end', 'value', 'wage',
       'release_clause', 'contract', 'w/f', 'sm', 'a/w', 'd/w', 'ir', 'hits',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk'],
      dtype='object')

#### Lista de cambios a hacer
1. Arreglar aquellas columnas con sumas y estrellas
2. Eliminar las unidades de medida en: altura y peso 
3. Cambiar los Nuns por la media
4. Eliminar los valores duplicados

#### SUMAS

In [146]:
def sep_columns(df) :
    df.columns = [e.str.split('[ + ]', expand=True)for e in df.columns]
    return df

In [147]:
col_sumitas = ['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram','lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb','lcb', 'cb', 'rcb', 'rb', 'gk']

In [148]:
map(sep_columns(col_sumitas))

AttributeError: 'list' object has no attribute 'columns'

In [170]:
data['cdm'].head()
data ['cdmplus'].head()

KeyError: 'cdmplus'

#### ESTRELLAS

In [171]:
def converse(df) :
    df.columns = [e.str.split('[ ★ ]', expand=True)for e in df.columns]
    return df

In [ ]:
col_sumitas = ['w/f', 'sm', 'ir']

In [172]:
map(converse(col_sumitas))

AttributeError: 'list' object has no attribute 'columns'

#### Unidades de medida

##### a) altura

In [150]:
def tranform_height(c):
    float (c.split('\'')[0]) * 12 + float(c.split('\'')[1][:-1])
    return df

In [151]:
map(tranform_height('height'))

ValueError: could not convert string to float: 'height'

In [166]:
data['height'].head()

0     5'9"
1     6'0"
2     5'4"
3    5'10"
4    5'11"
Name: height, dtype: object

##### b) peso

In [163]:
def transform_weight(c):
    data.columns = [col.replace("lbs", "") for col in data.columns]
    return data

In [164]:
transform_weight('weight')

,unnamed:_0,id,name,age,nationality,club,bp,position,team_&_contract,height,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,1954,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,2225,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,1959,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,9815,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,10074,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13695,11284,239074,S. Aw,21,Senegal,Gil Vicente FC,LB,LB,Gil Vicente FC 2020 ~ 2023,"5'8""",...,52+2,52+2,58+2,58+2,54+2,54+2,54+2,58+2,15+2,60
13696,11964,241223,S. Mogi,21,Japan,Cerezo Osaka,GK,GK,Cerezo Osaka 2017 ~ 2021,"6'5""",...,23+2,23+2,20+2,20+2,22+2,22+2,22+2,20+2,58+2,59
13697,5390,210930,Carles Gil,27,Spain,New England Revolution,RM,RM CAM CM,New England Revolution 2019 ~ 2024,"5'7""",...,60+2,60+2,62+2,57+2,47+2,47+2,47+2,57+2,18+2,76
13698,860,162993,J. Perch,34,England,Mansfield Town,CDM,CDM RB CM,Mansfield Town 2020 ~ 2021,"5'11""",...,62+1,62+1,60+2,60+2,63+0,63+0,63+0,60+2,14+2,63
13699,15795,254882,A. Oeynhausen,18,Germany,SC Paderborn 07,CAM,CM,SC Paderborn 07 2020 ~ 2022,"5'10""",...,55+2,55+2,55+2,54+2,51+2,51+2,51+2,54+2,16+2,60

In [165]:
data['weight'].head()

0    161lbs
1    159lbs
2    134lbs
3    152lbs
4    150lbs
Name: weight, dtype: object

#### NaNs

In [154]:
df = pd.DataFrame(data)
df = df.fillna(0)
print(df)

       unnamed:_0      id           name  age  nationality  \
0            1954  184383      A. Pasche   26  Switzerland
1            2225  188044  Alan Carvalho   30     China PR
2            1959  184431    S. Giovinco   33        Italy
3            9815  233796       J. Evans   22        Wales
4           10074  234799     Y. Demoncy   23       France
...           ...     ...            ...  ...          ...
13695       11284  239074          S. Aw   21      Senegal
13696       11964  241223        S. Mogi   21        Japan
13697        5390  210930     Carles Gil   27        Spain
13698         860  162993       J. Perch   34      England
13699       15795  254882  A. Oeynhausen   18      Germany

                             club   bp   position  \
0               FC Lausanne-Sport   CM     CM CDM
1         Beijing Sinobo Guoan FC   ST   ST LW LM
2                        Al Hilal  CAM     CAM CF
3                    Swansea City  CDM     CDM CM
4      US Orléans Loiret Football  CDM     CDM CM
...                           ...  ...        ...
13695              Gil Vicente FC   LB         LB
13696                Cerezo Osaka   GK         GK
13697      New England Revolution   RM  RM CAM CM
13698              Mansfield Town  CDM  CDM RB CM
13699             SC Paderborn 07  CAM         CM

                                    team_&_contract height  ...   cdm   rdm  \
0                     FC Lausanne-Sport 2015 ~ 2020   5'9"  ...  59+1  59+1
1      Beijing Sinobo Guoan FC Dec 31, 2020 On Loan   6'0"  ...  53+2  53+2
2                              Al Hilal 2019 ~ 2022   5'4"  ...  56+2  56+2
3                          Swansea City 2016 ~ 2021  5'10"  ...  58+2  58+2
4            US Orléans Loiret Football 2018 ~ 2021  5'11"  ...  64+2  64+2
...                                             ...    ...  ...   ...   ...
13695                    Gil Vicente FC 2020 ~ 2023   5'8"  ...  52+2  52+2
13696                      Cerezo Osaka 2017 ~ 2021   6'5"  ...  23+2  23+2
13697            New England Revolution 2019 ~ 2024   5'7"  ...  60+2  60+2
13698                    Mansfield Town 2020 ~ 2021  5'11"  ...  62+1  62+1
13699                   SC Paderborn 07 2020 ~ 2022  5'10"  ...  55+2  55+2

        rwb    lb   lcb    cb   rcb    rb    gk  ova
0      59+1  58+1  54+1  54+1  54+1  58+1  15+1   64
1      57+2  53+2  48+2  48+2  48+2  53+2  18+2   77
2      59+2  53+2  41+2  41+2  41+2  53+2  12+2   80
3      56+2  57+2  58+2  58+2  58+2  57+2  14+2   59
4      64+2  63+2  61+2  61+2  61+2  63+2  15+2   65
...     ...   ...   ...   ...   ...   ...   ...  ...
13695  58+2  58+2  54+2  54+2  54+2  58+2  15+2   60
13696  20+2  20+2  22+2  22+2  22+2  20+2  58+2   59
13697  62+2  57+2  47+2  47+2  47+2  57+2  18+2   76
13698  60+2  60+2  63+0  63+0  63+0  60+2  14+2   63
13699  55+2  54+2  51+2  51+2  51+2  54+2  16+2   60

[13700 rows x 102 columns]

In [157]:
df.duplicated().sum()

0

#### Duplicados

In [158]:
df.duplicated().sum()

0

In [159]:
data = data.drop_duplicates()

In [160]:
print (data.shape)

(13700, 102)

### Formula limpieza datos

In [136]:
def columnas_bien_limpitas(df) :
    data.columns=[e.lower().replace(' ', '_') for e in data.columns]
    df.columns = [e.str.split('[ + ]', expand=True)for e in df.columns]
    df.columns = [e.str.split('[ ★ ]', expand=True)for e in df.columns]
    float (c.split('\'')[0]) * 12 + float(c.split('\'')[1][:-1])
    data.columns = [col.replace("lbs", "") for col in data.columns]
    df = df.fillna(0)
    data = data.drop_duplicates()
    return df