# FIFA 21 PROJECT (III)

<br><br>

Now you will work only in the `group jupyter notebook`.

It is s time to train a linear model and save it. Please take a look to the following [resource](https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/) to know how to do it.

In addition you will need to create functions to make predictions with your group model and to evaluate the model's results on your `group jupyter notebook`.

Later, the LT will pick your `group jupyter notebook`, it will load another dataset and it will apply/call your functions to clean the dataset, make predictions with your model and then evaluate your group model into the new unseen data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./file_for_project/fifa21_training.csv")

#### STANDARIZE

In [3]:
num_cols = data._get_numeric_data()
num_cols

,Unnamed: 0,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY,OVA
0,1954,184383,26,1,258,54,47,43,70,44.0,...,6,1682,357,69,51,63,63,51,60,64
1,2225,188044,30,0,365,66,79,76,68,76.0,...,16,1961,412,83,75,68,82,33,71,77
2,1959,184431,33,0,336,73,76,34,78,75.0,...,3,1925,404,80,77,78,86,27,56,80
3,9815,233796,22,13,242,44,42,58,62,36.0,...,12,1527,329,57,44,54,57,57,60,59
4,10074,234799,23,8,249,49,37,61,68,34.0,...,15,1664,360,66,44,60,64,60,66,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13695,11284,239074,21,11,197,59,23,42,51,22.0,...,13,1443,315,76,28,46,55,53,57,60
13696,11964,241223,21,9,77,13,9,14,34,7.0,...,62,928,318,60,55,57,62,30,54,59
13697,5390,210930,27,0,332,76,72,34,79,71.0,...,6,1867,388,65,69,78,77,39,60,76
13698,860,162993,34,0,268,58,44,61,62,43.0,...,8,1639,346,53,47,58,58,61,69,63
13699,15795,254882,18,16,276,49,54,51,70,52.0,...,12,1634,339,64,54,62,62,50,47,60

In [4]:
from sklearn.preprocessing import StandardScaler

In [32]:
pd.DataFrame(StandardScaler().fit_transform(num_cols.drop(columns='OVA')), columns=num_cols.columns[:-1])

,Unnamed: 0,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,GK Positioning,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY
0,-1.333809,-0.934621,0.144396,-0.777981,-0.004329,0.134879,-0.051360,-0.614951,0.684934,-0.055572,...,-0.399307,-0.569019,0.198853,-0.107236,0.079690,-0.293106,0.400446,-0.125947,0.052123,-0.499170
1,-1.279105,-0.836848,0.953406,-0.950485,1.473373,0.805297,1.597205,1.325089,0.541823,1.746202,...,-0.520346,0.009823,1.267915,1.258988,1.331598,1.441067,0.892597,1.809699,-1.018382,0.630587
2,-1.332800,-0.933339,1.560163,-0.950485,1.072875,1.196374,1.442652,-1.144053,1.257380,1.689897,...,-0.762425,-0.742672,1.129972,1.060264,1.063332,1.585581,1.876899,2.217203,-1.375217,-0.909990
3,0.253001,0.385030,-0.664613,1.292068,-0.225293,-0.423803,-0.308948,0.266885,0.112489,-0.506015,...,-0.520346,-0.221714,-0.395070,-0.802768,-0.993374,-0.798906,-0.485426,-0.737204,0.408958,-0.499170
4,0.305282,0.411817,-0.462361,0.429548,-0.128621,-0.144462,-0.566536,0.443253,0.541823,-0.618626,...,-0.641386,-0.048061,0.129882,-0.032715,-0.188576,-0.798906,0.105155,-0.024071,0.587376,0.117061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13695,0.549531,0.525988,-0.866866,0.947060,-0.846757,0.414220,-1.287783,-0.673740,-0.674624,-1.294291,...,-0.338787,-0.163829,-0.716938,-1.150535,0.705644,-1.955021,-1.272868,-0.940956,0.171068,-0.807285
13696,0.686795,0.583380,-0.866866,0.602052,-2.503992,-2.155717,-2.009031,-2.319835,-1.891071,-2.138873,...,2.324082,2.672498,-2.690295,-1.076013,-0.725108,-0.004077,-0.190136,-0.227823,-1.196799,-1.115401
13697,-0.640223,-0.225642,0.346649,-0.950485,1.017633,1.363979,1.236582,-1.144053,1.328936,1.464675,...,-0.399307,-0.569019,0.907729,0.662817,-0.277998,1.007524,1.876899,1.300318,-0.661547,-0.499170
13698,-1.554642,-1.505874,1.762416,-0.950485,0.133774,0.358352,-0.205913,0.443253,0.112489,-0.111877,...,-0.399307,-0.453250,0.034088,-0.380481,-1.351062,-0.582135,-0.091705,-0.635328,0.646848,0.425177
13699,1.460115,0.948165,-1.473623,1.809580,0.244257,-0.144462,0.309264,-0.144638,0.684934,0.394872,...,-0.278267,-0.221714,0.014929,-0.554364,-0.367420,-0.076334,0.302016,-0.227823,-0.007349,-1.834337

In [5]:
for c in  num_cols.columns[:-1]:   
    data[c]=StandardScaler().fit_transform(data[c].values.reshape(-1, 1))

#### ENCODING

In [6]:
cat_cols = data.select_dtypes(object).columns
cat_cols

Index(['Name', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract',
       'Height', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits',
       'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM',
       'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'GK'],
      dtype='object')

In [7]:
cat2_cols = (['BP', 'Position', 'Team & Contract', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage','Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits','LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM','LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB','LCB', 'CB', 'RCB', 'RB', 'GK'])

In [8]:
one_hot_data=pd.get_dummies(data[cat_cols], drop_first=True) 
one_hot_data.head()

,Name_A. Abdellaoui,Name_A. Abdennour,Name_A. Abdi,Name_A. Abedzadeh,Name_A. Abrashi,Name_A. Acosta,Name_A. Acquah,Name_A. Adam,Name_A. Addai,Name_A. Adli,...,GK_83+3,GK_84+1,GK_84+2,GK_84+3,GK_85+2,GK_86+2,GK_86+3,GK_88+3,GK_89+3,GK_9+2
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
data=pd.concat([data, one_hot_data], axis=1)   
data.drop(columns=cat_cols, inplace=True)
data.head()

,Unnamed: 0,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,GK_83+3,GK_84+1,GK_84+2,GK_84+3,GK_85+2,GK_86+2,GK_86+3,GK_88+3,GK_89+3,GK_9+2
0,-1.333809,-0.934621,0.144396,-0.777981,-0.004329,0.134879,-0.051360,-0.614951,0.684934,-0.055572,...,0,0,0,0,0,0,0,0,0,0
1,-1.279105,-0.836848,0.953406,-0.950485,1.473373,0.805297,1.597205,1.325089,0.541823,1.746202,...,0,0,0,0,0,0,0,0,0,0
2,-1.332800,-0.933339,1.560163,-0.950485,1.072875,1.196374,1.442652,-1.144053,1.257380,1.689897,...,0,0,0,0,0,0,0,0,0,0
3,0.253001,0.385030,-0.664613,1.292068,-0.225293,-0.423803,-0.308948,0.266885,0.112489,-0.506015,...,0,0,0,0,0,0,0,0,0,0
4,0.305282,0.411817,-0.462361,0.429548,-0.128621,-0.144462,-0.566536,0.443253,0.541823,-0.618626,...,0,0,0,0,0,0,0,0,0,0

#### SPLIT

In [13]:
columnas_interesantes = ['Age', 'Growth', 'Attacking']

In [14]:
X=data[columnas_interesantes]
y=data['OVA']

print(X.shape)
print(y.shape)

(13700, 3)
(13700,)

In [15]:
from sklearn.model_selection import train_test_split as tts

In [16]:
X = X.dropna()
y = y.loc[X.index]

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2, random_state=42)

#### MODELING

In [17]:
from sklearn.linear_model import LinearRegression as LinReg
linreg=LinReg()    
linreg.fit(X_train, y_train)   
y_pred_linreg=linreg.predict(X_test)

In [20]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()
data # Vuestros datos LIMPIOS

X = data[columnas_interesantes]
y = data['OVA']

LR.fit(X, y).score(X, y)

0.4312821015079298

In [24]:
y_pred_linreg

array([ 0.23512781,  0.04351145, -0.19415709, ...,  0.45011505,
       -0.18483303,  0.50559894])

In [23]:
y_test

10334    0.736754
10856   -0.720985
1261     1.174076
8839    -1.304081
7981     0.590980
           ...
11439    0.299432
11585    1.174076
7414    -0.720985
13147    0.882528
10889    1.319850
Name: OVA, Length: 2740, dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error([1, 1, 1], [2, 2, 2])

In [ ]:
mean_absolute_error(y_test, y_predict)