# FIFA 21 PROJECT (III)

<br><br>

Now you will work only in the `group jupyter notebook`.

It is s time to train a linear model and save it. Please take a look to the following [resource](https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/) to know how to do it.

In addition you will need to create functions to make predictions with your group model and to evaluate the model's results on your `group jupyter notebook`.

Later, the LT will pick your `group jupyter notebook`, it will load another dataset and it will apply/call your functions to clean the dataset, make predictions with your model and then evaluate your group model into the new unseen data.

In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("./file_for_project/fifa21_training.csv")

#### STANDARIZE

In [16]:
num_cols = data._get_numeric_data()
num_cols

,Unnamed: 0,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY,OVA
0,1954,184383,26,1,258,54,47,43,70,44.0,...,6,1682,357,69,51,63,63,51,60,64
1,2225,188044,30,0,365,66,79,76,68,76.0,...,16,1961,412,83,75,68,82,33,71,77
2,1959,184431,33,0,336,73,76,34,78,75.0,...,3,1925,404,80,77,78,86,27,56,80
3,9815,233796,22,13,242,44,42,58,62,36.0,...,12,1527,329,57,44,54,57,57,60,59
4,10074,234799,23,8,249,49,37,61,68,34.0,...,15,1664,360,66,44,60,64,60,66,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13695,11284,239074,21,11,197,59,23,42,51,22.0,...,13,1443,315,76,28,46,55,53,57,60
13696,11964,241223,21,9,77,13,9,14,34,7.0,...,62,928,318,60,55,57,62,30,54,59
13697,5390,210930,27,0,332,76,72,34,79,71.0,...,6,1867,388,65,69,78,77,39,60,76
13698,860,162993,34,0,268,58,44,61,62,43.0,...,8,1639,346,53,47,58,58,61,69,63
13699,15795,254882,18,16,276,49,54,51,70,52.0,...,12,1634,339,64,54,62,62,50,47,60

In [18]:
from sklearn.preprocessing import StandardScaler

In [29]:
for c in num_cols[:-1]:   
    data[c]=StandardScaler().fit_transform(data[c].values.reshape(-1, 1))

#### ENCODING

In [30]:
cat_cols = data.select_dtypes(object).columns
cat_cols

Index(['Name', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract',
       'Height', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits',
       'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM',
       'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'GK'],
      dtype='object')

In [33]:
one_hot_data=pd.get_dummies(data[cat_cols], drop_first=True) 
one_hot_data.head()

,Name_A. Abdellaoui,Name_A. Abdennour,Name_A. Abdi,Name_A. Abedzadeh,Name_A. Abrashi,Name_A. Acosta,Name_A. Acquah,Name_A. Adam,Name_A. Addai,Name_A. Adli,...,GK_83+3,GK_84+1,GK_84+2,GK_84+3,GK_85+2,GK_86+2,GK_86+3,GK_88+3,GK_89+3,GK_9+2
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data=pd.concat([data, one_hot_data], axis=1)   
data.drop(columns=cat_cols, inplace=True)
data.head()

,Unnamed: 0,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,...,GK_83+3,GK_84+1,GK_84+2,GK_84+3,GK_85+2,GK_86+2,GK_86+3,GK_88+3,GK_89+3,GK_9+2
0,-1.333809,-0.934621,0.144396,-0.777981,-0.004329,0.134879,-0.051360,-0.614951,0.684934,-0.055572,...,0,0,0,0,0,0,0,0,0,0
1,-1.279105,-0.836848,0.953406,-0.950485,1.473373,0.805297,1.597205,1.325089,0.541823,1.746202,...,0,0,0,0,0,0,0,0,0,0
2,-1.332800,-0.933339,1.560163,-0.950485,1.072875,1.196374,1.442652,-1.144053,1.257380,1.689897,...,0,0,0,0,0,0,0,0,0,0
3,0.253001,0.385030,-0.664613,1.292068,-0.225293,-0.423803,-0.308948,0.266885,0.112489,-0.506015,...,0,0,0,0,0,0,0,0,0,0
4,0.305282,0.411817,-0.462361,0.429548,-0.128621,-0.144462,-0.566536,0.443253,0.541823,-0.618626,...,0,0,0,0,0,0,0,0,0,0

#### SPLIT

In [35]:
X=data.drop(columns=['OVA'])
y=data['OVA']

print(X.shape)
print(y.shape)

(13700, 34537)
(13700,)

In [36]:
from sklearn.model_selection import train_test_split as tts

In [44]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2, random_state=50)  #PORQUE 48,50 Y NO 29.000?

#### MODELING

In [43]:
from sklearn.linear_model import LinearRegression as LinReg
linreg=LinReg()    
linreg.fit(X_train, y_train)   
y_pred_linreg=linreg.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()
data # Vuestros datos LIMPIOS

X = data[interesting_columns]
y = data['OVA']

LR.fit(X, y).score(X, y)

In [2]:
from sklearn.metrics import mean_absolute_error

In [4]:
mean_absolute_error([1, 1, 1], [2, 2, 2])

1.0

In [ ]:
mean_absolute_error(y_test, y_predict)